# submodules
modules/mpg123/* linguist-vendored
modules/ogg/* linguist-vendored
modules/opus/* linguist-vendored
modules/opusfile/* linguist-vendored

# builds
src/mpg123-decoder/dist/* linguist-generated
src/ogg-opus-decoder/dist/* linguist-generated
src/opus-decoder/dist/* linguist-generated
